<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>User Profile</title>
      </head>
  <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ecf0f1" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fas fa-volume-down"></i> &nbsp; Spotifu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a href="/logout"><button class="btn btn-danger">Log Out</button></a>
                      <a href="/songs/search"><button class="btn btn-info">Find Song</button></a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </header>

    <main>
      <div class="container">
        <div class="row">
        <div class="col-7">
        <h3>Your Profile</h3>
        <table class="table table-striped">
          <tr>
            <th>Name :</th>
            <td><%= user.name %></td>
          </tr>
          <tr>
              <th>Gender :</th>
              <td><%= user.gender %></td>
          </tr>
          <tr>
            <th>Birthdate :</th>
            <td><%= getDate(user.birthdate) %></td>
          </tr>
          <tr>
            <th>Age :</th>
            <td><%= getAge(user.birthdate) %></td>
          </tr>
        </table>
      </div>
      <div class="5">
        <h3>Songs</h3>
        <table class="table table-striped">
          <% user.Songs.forEach(songs => { %>
            <tr>
              <td><a href="<%= songs.song_link %>"><%= songs.title_song %></a></td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
    </div>
    </main>
    <!-- <%- include('./partials/header')%>
    <h2>Your Profile</h2>
    <table>
      <tr>
        <th>Name:</th>
        <td><%= user.name%></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td><%= user.gender%></td>
      </tr>
      <tr>
        <th>Birthdate</th>
        <td><%= getDate (user.birthdate) %></td>
      </tr>
      <tr>
        <th>Age</th>
        <td><%= getAge(user.birthdate) %></td>
      </tr>
    </table>
    <table style="width:20%" border="1">
      <tr>
        <th>Song List</th>
      </tr>
      <% user.Songs.forEach(songs => { %>
      <tr>
        <td><%= songs.title_song %></td>
      </tr>
      <% }) %>
    </table>
    <form action="/songs/search" method="get">
      <input type="submit" name="" value="Add Song">
    </form>
    <p><a href="/logout">Logout</a></p> -->

    <footer>
      <div class="fixed-bottom">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
          <div class="container">
            <ul class="ml-auto">
              <label style="color: #ecf0f1 ">&copy; Spotifu Team</label>
            </ul>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </nav>
      </div>
    </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
