<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
  </head>
  <body>
    <%- include('./partials/header')%>
    <h2>Your Profile</h2>
    <table>
      <tr>
        <th>Name:</th>
        <td><%= user.name%></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td><%= user.gender%></td>
      </tr>
      <tr>
        <th>Birthdate</th>
        <td><%= getDate (user.birthdate) %></td>
      </tr>
      <tr>
        <th>Age</th>
        <td><%= getAge(user.birthdate) %></td>
      </tr>
    </table>
    <table style="width:20%" border="1">
      <tr>
        <th>Song List</th>
      </tr>
      <% user.Songs.forEach(songs => { %>
      <tr>
        <td><%= songs.title_song %></td>
      </tr>
      <% }) %>
    </table>
    <form action="/addSong/<%= user.id %>" method="get">
      <input type="submit" name="" value="Add Song">
    </form>
  </body>
</html>
