<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <%- include('./partials/header')%>
    <form action="/songs/search" method="get">
        <input type="text" name="search" placeholder="cari lagu">
        <button type="submit">Search</button>
    </form>

    <% if(songsByMood.length !== 0) { %>
        <h5>By Mood</h5>
        <table>
            <% songsByMood.forEach(function(songMood) { %>
                <tr>
                    <td><%= songMood.mood %></td>
                    <td><%= checkSongList(songMood.Song) %></td>
                    <td><%= songMood.Song.singer %></td>
                    <td><form action="/addSong/<%= songMood.id %>" method="post">
                      <input type="submit" name="" value="Add Song">
                    </form></td>
                </tr>
            <% }) %>
        </table>
    <% } %>

    <% if(songsByTitle.length !== 0) {%>
    <h5>By title</h5>
    <table>
        <% songsByTitle.forEach(function(songTitle) { %>
            <tr>
                <td><%= songTitle.title_song %></td>
                <td><%= songTitle.singer %></td>
                <td><form action="/addSong/<%= songTitle.id %>" method="post">
                  <input type="submit" name="SongId" value="Add Song">
                </form></td>
            </tr>
        <% }) %>
    </table>
    <% } %>

    <% if(songsBySinger.length !== 0) {%>
        <h5>By Singer</h5>
        <table>
            <% songsBySinger.forEach(function(songSinger) { %>
                <tr>
                    <td><%= songSinger.singer %></td>
                    <td><%= songSinger.title_song %></td>
                    <td><form action="/addSong/<%= songSinger.id %>" method="post">
                      <input type="submit" name="SongId"value="Add Song">
                    </form></td>
                </tr>
            <% }) %>
        </table>
    <% } %>

    <% if(songsByGenre.length !== 0) {%>
        <h5>By Genre</h5>
        <table>
            <% songsByGenre.forEach(function(songGenre) { %>
                <tr>
                    <td><%= songGenre.genre %></td>
                    <td><%= songGenre.title_song %></td>
                    <td><form action="/addSong/<%= songGenre.id %>" method="post">
                      <input type="submit" name="SongId" value="Add Song">
                    </form></td>
                </tr>
            <% }) %>
        </table>
    <% } %>
</body>
</html>
