<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Song List</title>
  </head>
  <body>
    <%- include('./partials/header')%>
    <h1>All Song</h1>
    <h3><a href="/songs/add"> add new song </a></h3>
    <table style="width:80%" border="1">
      <tr>
        <th>Title</th>
        <th>Singer</th>
        <th>Genre</th>
        <th>Mood</th>
        <th>Options</th>
      </tr>
      <% songData.forEach(songs => { %>
      <tr>
        <td><a href="<%= songs.song_link %>" target="_blank"><%= songs.title_song %></a></td>
        <td><%= songs.singer %></td>
        <td><%= songs.genre %></td>
        <td><% songs.Moods.forEach((moods, i) => { %>
          <ul>
            <li><%= moods.mood %></li>
          </ul>
        <% }) %></td>
        <td><a href="/edit/<%= songs.id %>">Edit</a> | <a href="/delete/<%= songs.id %>">Delete</a></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
